tp_ann/*
2023-N7-BigData_ANN-V02.pdf
Untitled.ipynb
untitled.txt
.ipynb_checkpoints/2023-N7-BigData_ANN-V02-checkpoint.pdf
test.py
fig01.png
2022_ANN_Exercise_ADELE.ipynb
.ipynb_checkpoints/2022_ANN_Exercise_ADELE-checkpoint.ipynb
